In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv("../Data/datos_limpios_nonulos.csv")
df.sample(5)

,user_id,group,visit_date,conversion,product_category,product_id,product_name,quantity,discount,total_value,payment_method,shipping_method,region,customer_age,customer_gender,device,session_duration,coupon_used,browser,referral_source,conversion_str,price_knn
1461,1462,b,2022-03-15,0,electronics,1784,headphones,0,0.03,0.00,no_conversion,no_conversion,east,18.0,f,mobile,13,no_conversion,other,paid,no,900.10
278,279,b,2022-03-03,0,electronics,1633,laptop,0,0.29,0.00,no_conversion,no_conversion,west,33.0,m,mobile,12,no_conversion,chrome,paid,no,987.72
84,85,a,2022-01-16,0,books,1938,mystery,0,0.04,0.00,no_conversion,no_conversion,east,42.0,f,mobile,20,no_conversion,other,paid,no,13.34
613,614,a,2022-02-11,0,sports,1143,football,0,0.08,0.00,no_conversion,no_conversion,north,52.0,m,tablet,12,no_conversion,chrome,email,no,163.12
1837,1838,a,2022-03-07,1,sports,1774,running_shoes,4,0.24,137.74,bank_transfer,standard,central,27.0,m,mobile,27,no,firefox,email,yes,45.31